.container{
    /* display: flex; */
    /* justify-content: space-around; */
    height: 100vh;
    width: 100%;
    /* background-color: gainsboro; */
}

.boxr{
    /* background-color: beige; */
    margin-top: 50px;
    width: 50%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

.boxl{
    /* background-color: bisque; */
    margin-top: 50px;
    width: 25%;
    margin-right: 10%;
    border: 1px solid rgb(194, 188, 188);
    border-radius: 10px;
    height: 100%;
}

.required{
    color: red;
    position: relative;
    transform: translateY(-50%);
    top: -50%;
}

.logos img{
    width: 100%;
    height: 180px;
    position: relative;
}

.logos {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.arrow{
    position: relative;
    bottom: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 5;
}

.dashed-line{
    /* border: none; */
    border-top: 1px dashed #000;
    margin: 10px 0;
    margin-left: 16px;
    margin-right: 16px;
}

.dashed1-line{
    margin-top: 16px;
    border-color: rgb(195,190,195);
}

.bigbox{
    margin-top: 44px;
}

.boxdl{
    margin-left: 10%;
    width: 40%;
    margin-right: 5%;
    padding-left: 8px;
}

.boxdr{
    margin-right: 10%;
    width: 50%;
    margin-left: 5%;
}

.box-cartoon{
    height: 116px;
    width: 100%;
    margin-top: 16px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(251, 251, 251);

}



@media screen and (max-width: 600px) {
    .mobile{
        flex-direction: column-reverse;   
    }
    .boxl{
        width: 90%;
        margin-left: 5%;
    }
    .boxr{
        width: 90%;
        margin-left: 5%;
    }
    .bigbox{
        flex-direction: column;
    }
    .boxdl{
        width: 90%;
        margin-left: 5%;
    }
    .boxdr{
        width: 90%;
        margin-left: 5%;
    }
    .gridmanage{
        grid-template-columns: 1fr;
    }
    .country{
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 16px;
        margin-right: 0px;
    }
    .email{
        margin-right: 0px;
    }
    .xyz{
        margin-bottom: 8px;
    }
    .country1{
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 8px;
        margin-right: 0px;
    }
    .abd{
        margin-left: 8px;
        margin-right: 8px;
    }
    .mn{
        right:75%;
    }
    .fullname{
        right:75%;
    }
    .phn{
        bottom: 56%;
        right: 74%;
    }
    .em{
        bottom: 68px;
        right: 85%;
    }
    .select{
        bottom: 80%;
        right: 70%;
    }
    .cem{
        right:66%;
    }
}

